@page "/register"
@using MtgDeckWebsite.Components.Layout
@layout AnonymousLayout
@rendermode InteractiveServer

<!-- todo - add Authorize decorator to this and other pages (obviously replacing with real pages) -->

<PageTitle>Register</PageTitle>

<h1>Register</h1>

@code {

}
