@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <AuthorizeView>
            <Authorized>
                <article class="content px-4">
                    @Body
                </article>
            </Authorized>

            <NotAuthorized>
                <!-- ToDo - auto navigate back to login page -->
                <article class="content px-4">
                    <h3>You are not authorized to view this content.</h3>
                    <p>Please <a href="Login">log in</a> or <a href="Register">register</a> to access the application.</p>
                </article>
            </NotAuthorized>

        </AuthorizeView>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
